/target/
target/*
.project
.settings
.classpath
.metadata/
input.plugin.iml
.idea
elasticsearch/input.elasticsearch.iml
file/input.file.iml
jdbc/input.jdbc.iml
jdbc/src/test/
kafka/kafka.iml
mongodb/input.mongodb.iml
netty/input.netty.iml
redis/input.redis.iml
stdin/input.stdin.iml
stdin/src/test/
tcp/input.tcp.iml
